/* Overarching CSS */

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  max-width: 850px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px; 
  color: white;
  font-family: Optima, sans-serif;
  background-image: linear-gradient(rgb(57, 52, 64), rgb(92, 69, 119));
}

/* Font, Size & Alignment */

h1 {
  font-size: 60px;
  font-family: Optima, sans-serif;
}

h2 {
  font-size: 35px;
  font-family: Optima, sans-serif;
}

h3 {
  font-size: 22px;
  font-family: Optima, sans-serif;
}

p {
  font-size: 18px;
  font-family: Optima, sans-serif;
}

.ol {
  font-size: 20px;
  display: inline-block;
  text-align: left;
  font-family: Optima, sans-serif;
}

/* Flexbox */

.flex1 {
  display: flex;
}

.one {
  padding: 2%;
}

.two {
  padding: 2%;
}

.three {
  padding: 2%;
}

/* Link's & Button's */

a {
  color: rgb(255, 132, 183);
}

.button {
  border-radius: 1rem;
  border: .5rem;
  color: rgb(226, 105, 151);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  font-size: 17px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 0, 0);
}
