body {
  max-width: 750px;
  text-align: center;
  justify-content: center;
  padding: 5%;
}

.dragon {
  max-width: 85%;

}

.magiccat {
  max-width: 65%;

}

.zombierabbit {
  max-width: 35%;

}

.creaturedesign {
  max-width: 75%;

}