html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}


body {
  max-width: 850px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 30px; 
  font-family: Optima, sans-serif;
  color: white;
  background-image: linear-gradient(rgb(57, 52, 64), rgb(92, 69, 119));
}

div.container {
  text-align: center;
}

a {
  color: rgb(255, 132, 183);
}

.ol {
  display: inline-block;
  text-align: left;
}

.button {
  border: none;
  color: rgb(226, 105, 151);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 0, 0);
}


h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.ol {
  font-size: 20px;
}

.button1 {
  background-color: rgb(214, 133, 254);
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: rgb(225, 143, 255);
}

.dragon {
  max-width: 85%;
}

.magiccat {
  max-width: 65%;
}

.zombierabbit {
  max-width: 35%;
}
